body {
    background-color:ivory;
    text-align: center;
}
div{
   
}
.image section{
    display: flex;|
    
}    

.section style{
margin-right: 25px;
    margin-left: 25px;
    background-color: floralwhite;
}
#album{
   
    width: 500px;
    height: 400px;
}
